<!doctype html>
<html>
  <head>
    <title>Demon GO Gallery</title>

<!-- <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/monokai-sublime.min.css">
<link rel="stylesheet" type="text/css" href="static/alertifyjs/css/alertify.min.css">
<link rel="stylesheet" type="text/css" href="static/alertifyjs/css/themes/bootstrap.min.css">




<style>
body {
  font-family: Jua;
    padding: 30px;
}
      h1 {
        font-size: 4rem;
      }
      img {
        max-width: 200px;
        float: left;
        margin: 1em;
      }
      .flexbox {
        display: flex;
      }
      .column {
        flex: 1;
        border-right: 1px solid black;
        min-height: 1000px;
      }


</style>
  </head>
  <body>

    <h1>Demon GO Gallery</h1>
    <div class="flexbox">
      <div class="column" id="feed_gallery" ></div>
      <div class="column" id="text_gallery" ></div>
      <div class="column">
        <pre><code class="json" id="user_profile">{
  "brands": {},
  "images": []
}</code></pre>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <script src="static/alertifyjs/alertify.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
      var socket = io();

      var PATTERNS = [/.*DEBIT.*/i, /.*CARD.*/i, /.*BANK.*/i];

      function matchInArray(stringarray, expressions) {

          for (i = 0; i < stringarray.length; ++i) {
            for (j = 0; i < expressions.length; i++) {
                console.log("Testing:" + stringarray[i] + "|" + expressions[j])
                if (stringarray[i].match(expressions[j])) {
                    return true;
                }
            }
          }


          return false;

      };

      function addImageToElement(path, element_id) {
          var img = new Image();
          img.src = path;
          var a = document.createElement('a');
          a.setAttribute('href',path);
          a.setAttribute('target','_blank');
          a.appendChild(img);

          var gallery = document.getElementById(element_id);
          gallery.insertBefore(a, gallery.firstChild);
      }

      socket.on('new image', data => {
          addImageToElement(data.path, 'feed_gallery');
      });

      socket.on('recognized_text', data => {
          addImageToElement(data.path, 'text_gallery');
      });

      socket.on('ocr_result', data => {
          var profileElement = document.getElementById('user_profile');

          profileString = profileElement.textContent;
          profile = JSON.parse(profileString);
          profile.images.unshift(data);
          profileElement.innerHTML = JSON.stringify(profile, null, 4);
          hljs.highlightBlock(profileElement);
          if (matchInArray(data.text, PATTERNS)){
            alertify.error('Potentially sensitive information in ' + data.image)
          }
      });

      socket.on('brand_timestamp', data => {
          var profileElement = document.getElementById('user_profile');

          profileString = profileElement.textContent;
          profile = JSON.parse(profileString);
          if (data.brand in profile.brands) {
            var brand_data = profile.brands[data.brand]
            brand_data.unshift(data.time)

            if (brand_data.length >= 4) {
              if (brand_data[brand_data.length - 1] == "...") {
                brand_data.pop();
              }
              brand_data.pop();
              brand_data.push("...");
            }

          } else {
            profile.brands[data.brand] = [data.time]
          }
          profileElement.innerHTML = JSON.stringify(profile, null, 4);
          hljs.highlightBlock(profileElement);
      });

      // socket.on('init', data => {
      //     data.forEach(addImage);
      // });
    </script>
  </body>
</html>
